    <!-- Somos Sección -->
    <section id="Somos" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Nosostros</h2>
              <br/>
                <p>Nosotros somos unas de la empresas a nivel Nacional e Internacional.</p>
                <p>Somos los mas capacitados para darle una solucion mas rapida y efectiva a tu equipo de computo o disposistivo, en cuestion de segundos y al instante. Somos los mejores del mercado ofreciendote una variedad de problemas y todo a los mejores precios o nos ajustamos a tu presupuesto.</p>
                <p>Somos una empresa seria con mas de 10 años de experiencia sobre este ambito, somos lo unicos que te podemos resolver cualquier tipo de problema, contamos con instalaciones de primera clase al igual que con nuestros tecnicos, especialistas y ayudantes del mercado contamos con los mejores del pais e internacionales que nos ayudan a resolver cualquier complicacion en nuestro equipo, o dispositivo.</p>
                <p></p>
                <br/>
              </div>
        </div>
    </section>
